<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://presymphonic-preexclusively-kaylene.ngrok-free.dev</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_vivere-sync._tcp</string>
		<string>_vivere-sync._udp</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>ViverePrimary</string>
		<key>UIImageName</key>
		<string>launchImage</string>
	</dict>
	<key>WS_BASE_URL</key>
	<string>wss://presymphonic-preexclusively-kaylene.ngrok-free.dev</string>
</dict>
</plist>
